/* styles.css */

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Header Styles */
header {
    background-color: #191919;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 48px;
    font-family: 'Cursive', cursive;
    margin: 0;
}

.subtitle {
    font-size: 24px;
    margin-top: 10px;
    color: #7b7b7b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007acc;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* About Me Section Styles */
#about img.profile-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

/* Services Section Styles */
#services ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
}

/* Contact Section Styles */
#contact p {
    font-size: 18px;
    margin-top: 10px;
}

/* Footer Styles */
footer {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }

    .subtitle {
        font-size: 20px;
    }

    .container {
        padding: 15px;
    }

    #about img.profile-image {
        margin-top: 15px;
    }

    #contact p {
        font-size: 16px;
    }
}
